In [1]:
import sys
sys.path.append("..") # adds higher directory to python modules path
from IPython.display import display
from molopack import vogel

Opgave NET-1, hvor Vogel's approximation b√∏r anvendes:

In [2]:
supply = [6, 3, 5]
demand = [2, 3, 2, 7]

costs = [[7, 11, 3, 8],
         [2, 10, 1, 2],
         [14, 18, 8, 5]]

vogel(supply, demand, costs, True)

Vogels approximation:
[[0 3 2 1]
 [2 0 0 1]
 [0 0 0 5]]

Cost of this is:
78

array([[0, 3, 2, 1],
       [2, 0, 0, 1],
       [0, 0, 0, 5]])

In [3]:
supply = [5, 5, 6]
demand = [2, 2, 4, 4, 4]
costs = [[10, 1, 1, 1, 1],
         [1, 1, 1, 1, 1],
         [1, 1, 1, 1, 50]]

vogel(supply, demand, costs, True)

Vogels approximation:
[[0 2 3 0 0]
 [1 0 0 0 4]
 [1 0 1 4 0]]

Cost of this is:
16

array([[0, 2, 3, 0, 0],
       [1, 0, 0, 0, 4],
       [1, 0, 1, 4, 0]])

In [4]:
supply = [50, 40, 60]
demand = [20, 95, 35]
costs = [[6, 4, 1],
         [3, 8, 7],
         [4, 4, 2]]

vogel(supply, demand, costs, True)

Vogels approximation:
[[ 0 15 35]
 [20 20  0]
 [ 0 60  0]]

Cost of this is:
555

array([[ 0, 15, 35],
       [20, 20,  0],
       [ 0, 60,  0]])