In [ ]:
import numpy as np
import sys
sys.path.append("..") # adds higher directory to python modules path
from molopack import branch_and_bound

In [1]:
# HELTAL-1 2 som eksempel

m = 999

#                                      d
#                                      u
#                                      m
#                                      m
#                   A   B   C   D   E  y 
costs = np.array([[ m,  4,  9, 13,  7, 0],  # A
                  [14,  m, 12,  8,  5, 0],  # B
                  [10, 18,  m, 18, 17, 0],  # C
                  [11, 16,  8,  m, 15, 0],  # D
                  [ 3,  5,  2, 20,  m, 0],  # E
                  [ 0,  0,  0,  0,  0, m]]) # dummy
branch, cost = branch_and_bound(costs)
print(f"{branch=}, {cost=}")

NameError: name 'np' is not defined

In [17]:
# HELTAL-1 2 som eksempel

m = 999

#                                      d
#                                      u
#                                      m
#                                      m
#                   A   B   C   D   E  y 
costs = np.array([[ m,  4,  9, 13,  7],  # A
                  [14,  m, 12,  8,  5],  # B
                  [10, 18,  m, 18, 17],  # C
                  [11, 16,  8,  m, 15],  # D
                  [ 3,  5,  2, 20,  m]]) #E
                                        #dummy

branch, cost = branch_and_bound(costs)
print(f"{branch=}, {cost=}")

branch_list=[]
Total reduktion: 32

Straf Matrix:

branch_list=[(1, 2)]
Total reduktion: 32

Straf Matrix:

branch_list=[(1, 2), (2, 5)]
Total reduktion: 37

Straf Matrix:

branch_list=[(1, 2), (2, 5), (3, 4)]
Total reduktion: 40

branch_list=[(1, -2)]
Total reduktion: 38

Straf Matrix:

branch_list=[(1, -2), (3, 1)]
Total reduktion: 38

Straf Matrix:

branch_list=[(1, -2), (3, 1), (4, 3)]
Total reduktion: 38

Straf Matrix:

branch_list=[(1, -2), (3, 1), (4, 3), (2, 4)]
Total reduktion: 38

branch=[(1, 5), (2, 4), (3, 1), (4, 3), (5, 2)], cost=38

In [18]:
# HELTAL-1 2 som eksempel

m = 999


#                                      d
#                                      u
#                                      m
#                                      m
#                   A   B   C   D   E  y 
costs = np.array([[ m,  4,  9, 13,  7],  # A
                  [14,  m, 12,  8,  5],  # B
                  [10, 18,  m, 18, 17],  # C
                  [11, 16,  8,  m, 15],  # D
                  [ 3,  5,  2, 20,  m]]) # E #dummy

#                                      d
#                                      u
#                                      m
#                                      m
#                   A   B   C   D   E  y 
costs = np.array([[ m,  4,  9, 13,  7, 0],  # A
                  [14,  m, 12,  8,  5, 0],  # B
                  [10, 18,  m, 18, 17, 0],  # C
                  [11, 16,  8,  m, 15, 0],  # D
                  [ 3,  5,  2, 20,  m, 0], #E
                  [ 0,  0,  0,  0,  0, m]])  #dummy
                   
#                                      d
#                                      u
#                                      m
#                                      m
#                   A   B   C   D   E  y 
costs = np.array([[ m,  4,  9, 13,  7, 0],  # A
                  [14,  m, 12,  8,  5, 0],  # B
                  [10, 18,  m, 18, 17, 0],  # C
                  [11, 16,  8,  m, 15, 0],  # D
                  [ 3,  5,  2, 20,  m, 0], #E
                  [ m,  m,  m,  m,  m, m]])  #dummy

branch, cost = branch_and_bound(costs)
print(f"{branch=}, {cost=}")

branch_list=[]
Total reduktion: 999

Straf Matrix:

branch_list=[(3, 6)]
Total reduktion: 1018

Straf Matrix:

branch_list=[(3, -6)]
Total reduktion: 1009

Straf Matrix:

branch_list=[(3, -6), (4, 6)]
Total reduktion: 1020

Straf Matrix:

branch_list=[(3, -6), (4, -6)]
Total reduktion: 1017

Straf Matrix:

branch_list=[(3, -6), (4, -6), (6, 4)]
Total reduktion: 1017

Straf Matrix:

branch_list=[(3, -6), (4, -6), (6, 4), (3, 1)]
Total reduktion: 1017

Straf Matrix:

branch_list=[(3, -6), (4, -6), (6, 4), (3, 1), (4, 3)]
Total reduktion: 1021

Straf Matrix:

branch_list=[(3, 6)]
Total reduktion: 1018

Straf Matrix:

branch_list=[(3, 6), (1, 2)]
Total reduktion: 1018

Straf Matrix:

branch_list=[(3, 6), (1, 2), (2, 5)]
Total reduktion: 1018

Straf Matrix:

branch_list=[(3, 6), (1, 2), (2, 5), (5, 3)]
Total reduktion: 1021

branch_list=[(3, -6), (4, 6)]
Total reduktion: 1020

Straf Matrix:

branch_list=[(3, -6), (4, 6), (3, 1)]
Total reduktion: 1020

Straf Matrix:

branch_list=[(3, -6), (4, 6), (3, 1), (1, 2)]
Total reduktion: 1020

Straf Matrix:

branch_list=[(3, -6), (4, 6), (3, 1), (1, 2), (5, 3)]
Total reduktion: 1023

branch_list=[(3, 6), (1, -2)]
Total reduktion: 1021

Straf Matrix:

branch_list=[(3, 6), (1, -2), (2, 5)]
Total reduktion: 1023

Straf Matrix:

branch_list=[(3, -6), (4, -6), (6, 4), (3, 1), (4, 3)]
Total reduktion: 1021

Straf Matrix:

branch_list=[(3, -6), (4, -6), (6, 4), (3, 1), (4, 3), (2, 6)]
Total reduktion: 1029

branch_list=[(3, 6), (1, -2)]
Total reduktion: 1021

Straf Matrix:

branch_list=[(3, 6), (1, -2), (2, 5)]
Total reduktion: 1023

Straf Matrix:

branch_list=[(3, 6), (1, 2), (2, -5)]
Total reduktion: 1021

Straf Matrix:

branch_list=[(3, 6), (1, 2), (2, -5), (6, 5)]
Total reduktion: 1022

Straf Matrix:

branch_list=[(3, 6), (1, 2), (2, 5), (5, 3), (1, -1)]
Total reduktion: 1021

branch=[(1, 2), (2, 5), (3, 6), (4, 1), (5, 3), (6, 1), (6, 2), (6, 3), (6, 4), (6, 5), (6, 6)], cost=1021

In [19]:
# HELTAL-1 3 som eksempel

m = 999

#                                      d
#                                      u
#                                      m
#                                      m
#                   A   B   C   D   E  y 
costs = np.array([[ m,  4,  9, 13,  7, m],  # A
                  [14,  m, 12,  8,  5, m],  # B
                  [10, 18,  m, 14, 17, m],  # C
                  [11, 16,  8,  m, 15, m],  # D
                  [ 3,  5,  2, 20,  m, 0],  # E
                  [ 0,  m,  m,  m,  m, m]]) # dummy

#Sørg for at must_end og dummy variablen passer sammen!
#og husk at must_end er 1-indekseret
branch, cost = branch_and_bound(costs, must_end_at=5)
print(f"{branch=}, {cost=}")

branch_list=[]
Total reduktion: 30

Straf Matrix:

branch_list=[(1, 2)]
Total reduktion: 30

Straf Matrix:

branch_list=[(1, 2), (4, 3)]
Total reduktion: 30

Straf Matrix:

branch_list=[(1, 2), (4, 3), (2, 4)]
Total reduktion: 37

branch_list=[(1, 2), (4, -3)]
Total reduktion: 35

Straf Matrix:

branch_list=[(1, 2), (4, -3), (5, 3)]
Total reduktion: 1023

Straf Matrix:

branch_list=[(1, 2), (4, 3), (2, 4), (1, -1)]
Total reduktion: 37

branch=[(1, 2), (2, 4), (3, 5), (4, 3), (5, 6), (6, 1)], cost=37

In [20]:
# eksempel fra slides

#                                       d
#                                       u
#                                       m
#                                       m
#                   A   B   C   D   E   y                    
costs = np.array([[ m, 27, 43, 16, 30, 26],  # A
                  [ 7,  m, 16,  1, 30, 25],  # B
                  [20, 13,  m, 35,  5,  0],  # C
                  [21, 16, 25,  m, 18, 18],  # D
                  [12, 46, 27, 48,  m,  5],  # E
                  [23,  5,  5,  9,  5,  m]]) # dummy


#bare indsæt cost matricen og kryds fingre for at det ikke bare er en kæmpe prank:
branch, cost = branch_and_bound(costs)
print(f"{branch=}, {cost=}")

branch_list=[]
Total reduktion: 48

Straf Matrix:

branch_list=[(1, 4)]
Total reduktion: 49

Straf Matrix:

branch_list=[(1, 4), (2, 1)]
Total reduktion: 51

Straf Matrix:

branch_list=[(1, 4), (2, 1), (5, 6)]
Total reduktion: 56

Straf Matrix:

branch_list=[(1, 4), (2, 1), (5, 6), (3, 5)]
Total reduktion: 63

branch_list=[(1, -4)]
Total reduktion: 58

Straf Matrix:

branch_list=[(1, -4), (6, 3)]
Total reduktion: 63

Straf Matrix:

branch_list=[(1, -4), (6, 3), (2, 4)]
Total reduktion: 64

Straf Matrix:

branch_list=[(1, 4), (2, 1), (5, 6), (3, 5), (1, -1)]
Total reduktion: 63

branch=[(1, 4), (2, 1), (3, 5), (4, 3), (5, 6), (6, 2)], cost=63